body {
    background-color: rgb(50, 131, 224);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.Tienda {
    display: flex;
    flex-wrap: wrap;
    }
.divss {
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin: 10px;
    box-sizing: border-box;
    width: 25rem;
    height: 45rem;
    border-radius: 20px;
    cursor: pointer;
    transition: .4s;
    background-color: rgb(10, 38, 117);
}

img {
    justify-items: center;
    align-self: center;
    width: 20rem;
    height: 30rem;
    }
h3 {
    text-align: center;
    font-size: 2rem;
    color: azure;
}
h4 {
    text-align: center;
    font-size: 1rem;
}
h2 {
    text-align: center;
    font-size: 2.5rem;
    color: yellow;
}

.menu{
  background-color: var(--menuBackgroundColor, #f0f0f0);
  box-shadow: var(--menuBoxShadow, 0 1px 3px 0 rgba(0, 0, 0, .12), 0 1px 2px 0 rgba(0, 0, 0, .24));
}

.menu__list{
  display: flex;  
}

.menu__link{
  padding: var(--menuLinkPadding, 1.5rem 2.5rem);
  font-weight: 700;
  text-transform: uppercase;
}

.formulario {
    box-sizing: border-box;
    display: inline;
    padding: 5px;
    margin: 3px;
    font-family: sans-serif;
    font-weight: 700;
}
.cosa1 {
    display: inline;
    color: rgb(40, 11, 105);
}
.cartel1 {
    box-sizing: border-box;
    padding: 10px;
    margin: 40px;
    background-color: rgba(10, 39, 117, 0.438);
    border-radius: 20px;
    
}