.filtros {
    grid-area: filtros;
}
.Tienda {
    grid-area: Tienda;
}
.menu {
    background-color:rgb(81, 180, 247);
    padding: 10px;
    margin: 10px;
    border-radius: 12px;
    text-align: center;
}
ul, li {
    display: inline;
    font-family: 'Segoe UI', sans-serif;
    font-weight: 900;
    color: rgb(255, 255, 255);
}
body {
    background-color: rgb(11, 57, 184);
}
.laygrid {
    display: grid;
    grid-template-columns: 50px, 1fr;
    grid-template-areas: "filtros Tienda";
}
.Tienda {
    display: flex;
    flex-wrap: wrap;
    }
.divss {
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10px;
    margin: 10px;
    box-sizing: border-box;
    width: 25rem;
    height: 50rem;
    border-radius: 20px;
    cursor: pointer;
    transition: .4s;
    background-color: rgb(10, 38, 117);
}

img {
    justify-items: center;
    align-self: center;
    width: 20rem;
    height: 30rem;
    }
h3 {
    text-align: center;
    font-size: 2rem;
    color: azure;
}
h4 {
    text-align: center;
    font-size: 1rem;
}
h2 {
    text-align: center;
    font-size: 2.5rem;
    color: rgb(81, 180, 247);
}

.formulario {
    box-sizing: border-box;
    display: inline;
    padding: 5px;
    margin: 3px;
    font-family: sans-serif;
    font-weight: 700;
}
.cosa1 {
    display: inline;
    color: rgb(255, 255, 255);
    padding-left: 20px;
}
.cartel1 {
    box-sizing: border-box;
    padding: 10px;
    margin: 10px;
    background-color: rgb(81, 180, 247);
    border-radius: 20px;
}
.busca2 {
    margin: 20px;
    padding: 10px;
    box-sizing: border-box;
    background-color: rgb(81, 180, 247);
    font-family: sans-serif;
    font-weight: 700;
    justify-content: center;
    text-align: center;
    border-radius: 20px;
    color: white;
}
#buscador {
    padding: 10px;
    box-sizing: border-box;
    background-color: rgb(255, 255, 255);
    font-family: sans-serif;
    font-weight: 700;
    justify-content: center;
    text-align: center;
    border-radius: 5px;
    margin-bottom: 5px;
}
#busca3 {
    padding: 10px;
    box-sizing: border-box;
    background-color: rgb(255, 255, 255);
    font-family: sans-serif;
    font-weight: 700;
    justify-content: center;
    text-align: center;
    border-radius: 5px;
    margin-bottom: 5px;}
.nuevo_prod {
    margin: 20px;
    padding: 40px;
    box-sizing: border-box;
    background-color: rgb(81, 180, 247);
    font-family: sans-serif;
    font-weight: 800;
    font-size: larger;
    justify-content: center;
    text-align: center;
    border-radius: 20px;
    color: white;
}
.select_talle {
    margin: 20px;
    padding: 10px;
    box-sizing: border-box;
    background-color: rgb(81, 180, 247);
    font-family: sans-serif;
    font-weight: 700;
    justify-content: center;
    text-align: center;
    border-radius: 20px;
    color: white;
}
#select_talle {
    padding: 10px;
    box-sizing: border-box;
    background-color: rgb(255, 255, 255);
    font-family: sans-serif;
    font-weight: 700;
    justify-content: center;
    text-align: center;
    border-radius: 5px;
    margin-bottom: 5px;
}
.select_precio {
    margin: 20px;
    padding: 10px;
    box-sizing: border-box;
    background-color: rgb(81, 180, 247);
    font-family: sans-serif;
    font-weight: 700;
    justify-content: center;
    text-align: center;
    border-radius: 20px;
    color: white;
}
#select_precio {
    padding: 10px;
    box-sizing: border-box;
    background-color: rgb(255, 255, 255);
    font-family: sans-serif;
    font-weight: 700;
    justify-content: center;
    text-align: center;
    border-radius: 5px;
    margin-bottom: 5px;
}
.compra {
    margin: 5px;
    padding: 15px;
    box-sizing: border-box;
    font-size: x-large;
    background-color: rgb(228, 180, 23);
    font-family: sans-serif;
    font-weight: 1000;
    font-size: larger;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    color: white;
}
.ocultar {
    display: none;
}