@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,500;0,700;1,100;1,300;1,500;1,700&display=swap");
.filtros {
  grid-area: filtros;
}

#contenedorCards {
  grid-area: contenedorCards;
}

#jeder {
  display: flex;
  justify-content: space-between;
}

#jeder .dropdownmenu ul, #jeder .dropdownmenu li {
  margin: 0;
  padding: 0;
}

#jeder .dropdownmenu ul {
  background: gray;
  list-style: none;
  width: 100%;
}

#jeder .dropdownmenu li {
  float: left;
  position: relative;
  width: auto;
}

#jeder .dropdownmenu a {
  background: #30A6E6;
  color: #FFFFFF;
  display: block;
  font: bold 12px/20px sans-serif;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  -webkit-transition: all .25s ease;
  -moz-transition: all .25s ease;
  -ms-transition: all .25s ease;
  -o-transition: all .25s ease;
  transition: all .25s ease;
}

#jeder .dropdownmenu li:hover a {
  background: #ffffff;
  color: #244485;
}

#jeder #form_regis {
  margin: 3px;
  padding: 5px;
  box-sizing: border-box;
  justify-content: center;
  text-align: center;
  border-radius: 10px;
  color: white;
}

#jeder #form_regis #login_nombre {
  border-radius: 10px;
  padding: 5px;
  font-family: 'Roboto', sans-serif;
}

#jeder #form_regis #login_correo {
  border-radius: 10px;
  padding: 5px;
  font-family: 'Roboto', sans-serif;
}

#jeder #form_regis #login_contraseña {
  border-radius: 10px;
  padding: 5px;
  font-family: 'Roboto', sans-serif;
}

#jeder #form_regis #btn_acc {
  border-radius: 10px;
  padding: 5px;
  background: #244485;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  color: white;
}

body {
  background-color: #3c6eaf;
  background-attachment: fixed;
  background-size: cover;
  font-family: 'Roboto', sans-serif;
}

.filtros {
  width: 15%;
}

.laygrid {
  display: flex;
  flex-wrap: wrap;
}

.laygrid #contenedorCards {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
}

.laygrid #contenedorCards .cards {
  text-align: center;
  padding: 20px;
  margin: 30px;
  box-sizing: border-box;
  width: 20rem;
  height: 30rem;
  border-radius: 20px;
  cursor: pointer;
  transition: .4s;
  background: linear-gradient(90deg, #3a47d5 0%, #00d2ff 100%);
  color: white;
}

.laygrid #contenedorCards .cards .btnCompra {
  border-radius: 10px;
  padding: 10px;
  background: #244485;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  color: white;
  text-shadow: 1px -2px #070707;
}

.laygrid #contenedorCards .cards .nombre_item {
  color: white;
  font-size: x-large;
  text-shadow: 3px 2px #0f110f;
}

.laygrid #contenedorCards .cards .precio_item {
  font-family: Impact, sans-serif;
  font-size: xx-large;
  color: white;
  text-shadow: 3px 3px #40583f;
}

.laygrid #contenedorCards .cards .categoria_item {
  display: none;
}

.botonazo {
  margin: 10px;
  padding: 20px;
  box-sizing: border-box;
  background: linear-gradient(90deg, #00d2ff 0%, #3a47d5 100%);
  justify-content: center;
  text-align: center;
  border-radius: 20px;
  font-family: Impact, sans-serif;
  font-size: large;
  color: white;
}

.carrito_overlay {
  position: fixed;
  width: 100vw;
  height: 80%;
  z-index: 2;
  transform: translatex(200%);
  transition: 0.3s ease-out;
}

.carrito_overlay.open {
  transform: translateX(0%);
}

#closero {
  display: flex;
  justify-content: flex-end;
  float: right;
}

.btn-dngr {
  background-color: red;
  color: white;
  border-radius: 50px;
  padding: 5px;
}

.carrito {
  height: 90%;
  width: 70%;
  background-color: #e2f6fa;
  border-style: outset;
  border-color: #434446;
  border-width: 5px;
  float: right;
  overflow: scroll;
  overflow-x: hidden;
  padding: 30px;
}

.carrito .produComprado {
  display: flex;
}

.carrito .prodNom {
  padding: 10px;
}

.carrito .prodPrec {
  padding: 10px;
}

.carrito #checkout {
  margin: 10px;
  padding: 20px;
  box-sizing: border-box;
  background: linear-gradient(90deg, #6ca1f0 0%, #3a47d5 100%);
  justify-content: center;
  text-align: center;
  border-radius: 20px;
  font-family: Impact, sans-serif;
  font-size: large;
  color: white;
}

.carrito #vaciar_car {
  margin: 10px;
  padding: 20px;
  box-sizing: border-box;
  background: linear-gradient(90deg, #6ca1f0 0%, #3a47d5 100%);
  justify-content: center;
  text-align: center;
  border-radius: 20px;
  font-family: Impact, sans-serif;
  font-size: large;
  color: white;
}

#carritoz {
  box-sizing: border-box;
  border-radius: 50px;
  background-color: white;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 5px;
}

#default {
  margin: 10px;
  padding: 20px;
  box-sizing: border-box;
  background: linear-gradient(90deg, #0146a0 10%, #57b3d8 100%);
  justify-content: center;
  text-align: center;
  border-radius: 20px;
  font-family: Impact, sans-serif;
  font-size: large;
  color: white;
  text-shadow: 2px 2px #40583f;
}

#default2 {
  margin: 10px;
  padding: 20px;
  box-sizing: border-box;
  background: linear-gradient(90deg, #0146a0 30%, #57b3d8 100%);
  justify-content: center;
  text-align: center;
  border-radius: 20px;
  font-family: Impact, sans-serif;
  font-size: large;
  color: white;
  text-shadow: 2px 2px #40583f;
}
